<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG | default('es') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if DESCRIPTION %}
        <meta name="description" content="{{ DESCRIPTION }}">
    {% endif %}

    {% if TWITTER_USERNAME %}
        <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}" />
    {% endif %}

    <title>{% block title %}{{ SITENAME|striptags|e }}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ main_siteurl }}/theme/libs/tailwind/tailwind.min.css"/>
    <link rel="stylesheet" href="{{ main_siteurl }}/theme/libs/fontawesome/all.min.css"/>

    {% assets filters="libsass", output="css/style.min.css", "scss/style.scss" %}
    <link rel="stylesheet" href="{{ main_siteurl }}/{{ASSET_URL}}">
    {% endassets %}

    <script src="{{ main_siteurl }}/theme/libs/jquery/jquery.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% if GOOGLE_ANALYTICS_CODE %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_CODE }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ GOOGLE_ANALYTICS_CODE }}');
        </script>
    {% endif %}



    {% block extra_css %} {% endblock extra_css %}
    {% block extra_script %} {% endblock extra_script %}

</head>
<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover" style="background-image:url('{{ SITEURL }}{{ BACKGROUND_PHOTO }}');">
{% block navbar %} {% endblock navbar %}

{% block content %}

<!-- Content -->

{% endblock content %}

{% block footer %}{% endblock footer %}
</body>
</html>
